snippet ''' "Triple single quotes" is
'''${1:${VISUAL:Comment}}'''
endsnippet


snippet """ "Triple double quotes" is
"""${1:${VISUAL:Comment}}"""
endsnippet


snippet '' "Put text in single quotes" is
'${1:${VISUAL:Comment}}'
endsnippet


snippet "" "Put text in single quotes" is
"${1:${VISUAL:Comment}}"
endsnippet
