[user]
    email = nineseconds@yandex.ru
    name  = 9seconds
    branch-prefix = 9seconds
[alias]
    a = add
    ap = a --patch
    apa = ap --all
    ignore = update-index --skip-worktree
    no-ingnore = update-index --no-skip-worktree
    bl = blame --show-stats --date iso
    br = branch -vv
    brl = "!f() { git br --all --list \"*$1*\"; }; f"
    brm = "!f() { git br --all --list \"*$(git config user.branch-prefix)*\"; }; f"
    brc = !git br | grep -v '*' | awk '/: gone]/{print $1}' | xargs -n 10 -r git brd
    brd = branch -D
    cl = clean -fdq
    cla = cl -x
    s = status -sb --find-renames
    cm = commit
    cmm = cm -m
    cmma = cm -a -m
    fixup = cm --fixup
    amend = cm --amend
    rb = rebase --interactive --autosquash
    co = checkout
    cob = co -b
    sw = switch
    rs = restore
    rsp = rs --patch
    df = diff --minimal
    dft = difftool
    gcc = !git reflog expire --expire=all --stale-fix --all && git worktree prune --expire 0 && git gc --prune=all && git repack -a -d -b --depth 200 --window 100
    gcca = !git gcc && git sf git gcc
    sf = submodule foreach --recursive
    psh = push --atomic
    pshf = psh --force-with-lease
    ftch = fetch --recurse-submodules --jobs=4 --prune --prune-tags --tags
    ftchr = ftch --atomic
    ftcha = ftch --all
    rh = reset --hard
    l = log '--pretty=format:%C(auto)%h %Cgreen%aN%Cblue%d%Creset: %s' --no-merges --abbrev-commit
    lgg = l --graph
    lg = lgg --simplify-by-decoration
    ifix = "!f() { git l | fzf | cut -f1 -d' ' | head -1 | xargs -r -n 1 git fixup; }; f"
    ia = "!f() { git status --porcelain=v2 | awk '{if ($2 != \"M.\") {print $9}}' | fzf -m --print0 | xargs -0 -r git add; }; f"
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[interactive]
    diffFilter = delta --color-only
[delta]
    features = line-numbers side-by-side
    syntax-theme = gruvbox-dark
    whitespace-error-style = 22 reverse
[delta "decorations"]
    hunk-header-style = omit
[push]
    default = simple
    autoSetupRemote = true
[rerere]
    enabled = 1
[color]
    ui = true
[merge]
    tool = nvimdiff3
    conflictstyle = diff3
[mergetool]
    prompt = true
    keepBackup = false
[pager]
    difftool = true
[core]
    ; pager        = delta
    preloadindex = true
    excludesfile = ~/.gitignore_global
[pack]
    compression = 9
    threads     = 8
[gitreview]
    username = sarkhipov
[grep]
    patternType = perl
    fullName    = true
