[user]
    email = nineseconds@yandex.ru
    name  = 9seconds
    branch-prefix = 9seconds
[alias]
    a = add
    ap = a --patch
    apa = ap --all
    ignore = update-index --skip-worktree
    no-ingnore = update-index --no-skip-worktree
    bl = blame --show-stats --date iso
    br = branch -vv
    brl = "!f() { git br --all --list \"*$1*\"; }; f"
    brm = "!f() { git br --all --list \"*$(git config user.branch-prefix)*\"; }; f"
    brc = !git br | grep -v '*' | awk '/: gone]/{print $1}' | xargs -n 10 -r git brd
    brd = branch -D
    cl = clean -fdq
    cla = cl -x
    s = status -sb --find-renames
    cm = commit
    cma = cm -a
    cmm = cm -m
    cmam = cma -m
    fixup = cm --fixup
    amend = cm --amend -C HEAD
    rb = rebase --interactive --autosquash
    co = checkout
    sw = switch
    swc = sw -c
    swm = sw -C
    rs = restore
    rsp = rs --patch
    df = diff --minimal
    dfc = df --cached
    gcc = !git reflog expire --expire=all --stale-fix --all && git worktree prune --expire 0 && git gc --prune=all && git gc --aggressive --prune=all && git repack -AFdfb --depth 250 --window 250
    gcca = !git gcc && git sf git gcc
    sf = submodule foreach --recursive
    psh = push --atomic -u
    ftch = fetch --prune --all --recurse-submodules=yes
    rh = reset --hard
    l = log '--pretty=format:%Cblue%h %Cgreen%aN%Cred%d%Creset: %s' --no-merges --abbrev-commit
    lgg = l --graph
    lg = lgg --simplify-by-decoration
[interactive]
    diffFilter = delta --color-only
[delta]
    features = line-numbers
    syntax-theme = gruvbox
    whitespace-error-style = 22 reverse
[delta "decorations"]
    hunk-header-style = omit
[push]
    default = simple
[rerere]
    enabled = 1
[color]
    ui = true
[merge]
    tool = vim-fugitive
[diff]
    tool = vimdiff
    colorMoved = default
[core]
    pager        = delta
    preloadindex = true
	excludesfile = ~/.gitignore_global
[pack]
    compression = 9
    threads     = 8
[gitreview]
    username = sarkhipov
[grep]
    patternType = perl
    fullName    = true
[mergetool "vim-fugitive"]
    cmd = vim \"+Gdiff\" $MERGED
