[user]
    email = nineseconds@yandex.ru
    name  = 9seconds
    login = 9seconds
[alias]
    a = add
    amend = commit --amend --all -C HEAD
    ap = a --patch
    apa = ap --all
    bl = blame --show-stats --date iso
    arev = "!f() { git absorb --base $(git merge-base HEAD "${1:-origin/master}"); } ; f"
    cl = clean -fdq
    clx = cl -x
    cm = commit -m
    cma = commit -a -m
    co = checkout
    cob = co -b
    df = diff --minimal
    dfc = df --cached
    dff = difftool
    dffc = dfc --cached
    fixup = commit --fixup
    ftch = fetch --tags --atomic
    gcc = !git reflog expire --expire=all --stale-fix --all && git worktree prune --expire 0 && git gc --prune=all && git repack -a -d -b --depth 200 --window 100
    gcca = !git gcc && git sf git gcc
    l = log --date=short '--pretty=format:%C(auto)%h (%ad) %Cgreen%aN%Cblue%d%Creset: %s' --no-merges --abbrev-commit
    lg = lgg --simplify-by-decoration
    lgg = l --graph
    psh = push --atomic
    pshf = psh --force-with-lease
    rb = rebase --interactive --autosquash --autostash
    rh = reset --hard
    rs = restore -SW
    rsw = restore -W
    rss = restore -S
    s = status -sb --find-renames
    sf = submodule foreach --recursive
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[diff]
    tool = difftastic
    colorMoved = zebra
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft --skip-unchanged --tab-width 4 --context 5 "$LOCAL" "$REMOTE"
[push]
    default = simple
    autoSetupRemote = true
[fetch]
    parallel = 0
    recurse-submodules = true
    prune = true
    pruneTags = true
[pull]
    rebase = true
[transfer]
    fsckObjects = true
[rerere]
    enabled = 1
[color]
    ui = true
[pager]
    difftool = true
[core]
    autocrlf = false
    compression = -1
    eol = lf
    fsmonitor = true
    preloadindex = true
    untrackedCache = true
[pack]
    compression = 9
    threads     = 8
	allowPackReuse = multi
[grep]
    patternType = perl
    fullName    = true
[init]
    defaultBranch = master
[includeIf "gitdir:/vobs/"]
    path = /vobs/gitconfig
