[user]
    email = nineseconds@yandex.ru
    name = 9seconds
[alias]
    co = checkout
    br = branch
    cob = checkout -b
    st = status -s
    cp = cherry-pick
    df = diff --minimal
    dfc = diff --cached --minimal
    fix = commit -a --amend
    cm = commit -m
    cma = commit -a -m
    bl = blame --minimal
    cl = clean -xfd
    pullr = pull --rebase
    ftch = fetch --prune --all
    pll = pull --rebase --all
    l = "!. ~/.gitutils && gitlog"
    la = !git l --all
    r = !git l -20
    ra = !git la -20
[push]
    default = simple
[rerere]
    enabled = 1
[color]
    ui = true
[merge]
	tool = p4merge
[diff]
	tool = diffmerge
[core]
    pager = less -XSFR
[mergetool "p4merge"]
    cmd = "/opt/p4merge/bin/p4merge $BASE $LOCAL $REMOTE $MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
