[user]
    email = nineseconds@yandex.ru
    name = 9seconds
[alias]
    a = add
    aap = add --all --patch
    ap = add --patch
    bl = blame --minimal
    br = branch
    cl = clean -xfd
    cma = commit -a -m
    cm = commit -m
    cob = checkout -b
    co = checkout
    cp = cherry-pick
    dfc = diff --cached --minimal
    df = diff --minimal
    fix = commit -a --amend
    ftch = fetch --prune --all
    gcc = !git gc --aggressive --prune && git repack -Ad
    la = !git l --all
    l = "!. ~/.gitutils && gitlog"
    pll = pull --rebase --all
    pullr = pull --rebase
    ra = !git la -20
    r = !git l -20
    st = status -s
    su = submodule update --init
[push]
    default = simple
[rerere]
    enabled = 1
[color]
    ui = true
[merge]
	tool = p4merge
[diff]
	tool = diffmerge
[core]
    pager = less -XSFR
[mergetool "p4merge"]
    cmd = "/opt/p4merge/bin/p4merge $BASE $LOCAL $REMOTE $MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
