[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/9seconds-zsh-theme"]
	path = zsh/9seconds-zsh-theme
	url = https://github.com/9seconds/9seconds-zsh-theme.git
