[[env]]
GIT_USERNAME = "9seconds"
GIT_REPO_PATH = "{{ config_root }}"

# -----------------------------------------------------------------------------

[tools]
"cargo:selene" = "latest"
"pipx:mypy" = "latest"
ruff = "latest"
stylua = "latest"
python = "latest"

# -----------------------------------------------------------------------------

[tasks."module:ensure"]
description = "Mount module"
alias = "plug"
usage = '''
  arg "<module>" var=#true help="Name of the plug to connect to"
  complete "module" run="ls -l ~/.dotfiles | awk '$1 ~ /^d.*/ {print $NF}'"
'''
wait_for = [
  "module:regenerate"
]
tools.python = "latest"
run = "./dots ensure {{ arg(name='module') }}"

[tasks."module:regenerate"]
description = "Regenerate dots state"
run = [
  "rm -rf {{ [xdg_state_home, '9dots', '*'] | join_path }}",
  "./dots regenerate"
]

[tasks."module:drop"]
description = "Unmount plug"
alias = "unplug"
usage = '''
  arg "<module>" var=#true help="Name of the plug to disconnect"
  complete "module" run="ls -l ~/.dotfiles | awk '$1 ~ /^d.*/ {print $NF}'"
'''
wait_for = [
  "module:regenerate"
]
tools.python = "latest"
run = "./dots drop {{ arg(name='module') }}"

# -----------------------------------------------------------------------------
# LUA
# -----------------------------------------------------------------------------

[tasks."lua"]
description = "Run Lua routines"
depends = ['lua:*']

[tasks."lua:format"]
description = "Run all Lua formatters"
depends = ['lua:format:*']

[tasks."lua:lint"]
description = "Run all Lua linters"
depends = ['lua:lint:*']

[tasks."lua:format:stylua"]
description = "Run Stylua"
usage = '''
  arg "<source>" help="Name of the file to process" default="." var=#true
  complete "source" run="fd -e lua -t file -t symlink -H"
'''
tools.stylua = "latest"
run = "stylua -a ."

[tasks."lua:lint:selene"]
description = "Run Selene"
run = "selene ."


# -----------------------------------------------------------------------------
# PYTHON
# -----------------------------------------------------------------------------

[tasks."python"]
description = "Run Python routines"
depends = [
  "python:*",
]

[tasks."python:format"]
description = "Run all Python formatters"
tools.fd = "latest"
depends = [
  "python:format:*"
]

[tasks."python:lint"]
description = "Run all Python linters"
tools.fd = "latest"
wait_for = [
  "python:format:*"
]
depends = [
  "python:lint:*"
]

[tasks."python:lint:ruff"]
description = "Run Ruff (linter)"
tools.ruff = "latest"
tools.fd = "latest"
run = "ruff check $(9fl -a dots)"

[tasks."python:lint:mypy"]
description = "Run MyPy"
tools."pipx:mypy" = "latest"
tools.fd = "latest"
run = "mypy $(9fl -a dots)"

[tasks."python:format:ruff"]
description = "Run Ruff (format)"
tools.ruff = "latest"
tools.fd = "latest"
run = "ruff format $(9fl -a dots)"
