# vim: set ft=snippets noet:

snippet _date "Insert date in ISO8601"
	${0:`!lua os.date("%Y-%m-%d")`}

snippet _dateDMY "Insert date as DD/MM/YYYY"
	${0:`!lua os.date("%d/%m/%Y")`}

snippet _dtime "Insert datetime in ISO8601"
	${0:`!lua os.date("%Y-%m-%dT%H:%M:%S")`}
