# vim: set ft=snippets noet:

snippet #T "TODO comment" b
	# TODO${1:(`!lua vim.trim(vim.fn.system("git config user.name") or "")`)}: ${0}

snippet #F "FIXME comment" b
	# FIXME${1:(`!lua vim.trim(vim.fn.system("git config user.name") or "")`)}: ${0}
