priority 0


snippet !env "/usr/bin/env shebang" b
#!/usr/bin/env ${1:bash}
endsnippet


snippet !modeline "Vim modeline"
vim`!v ': set '. (&expandtab ? printf('et sw=%i ts=%i', &sw, &ts) : printf('noet sts=%i sw=%i ts=%i', &sts, &sw, &ts)) . (&tw ? ' tw='. &tw : '') . ':'`
endsnippet


snippet !date "Date: YYYY-MM-DD" w
`!v strftime("%F")`
endsnippet


snippet !time "Time: HH-MM"
`!v strftime("%H:%M")`
endsnippet


snippet !times "Time: HH-MM-SS"
`!v strftime("%H:%M:%S")`
endsnippet
