# vim: set ft=snippets

snippet pdb "Insert pdb" b
	import ${1:pdb}; $1.set_trace()

snippet pdbc "Insert conditional debugger" b
	if ${1:condition}:
		import ${2:pdb}; $2.set_trace()

snippet pdbt "try/except with pdb" b
	try:
		${0:$TM_SELECTED_TEXT}
	except Exception:
		import ${1:pdb}
		import sys
		import traceback

		typ_, val_, tb_ = sys.exc_info()
		tbf_ = traceback.format_tb(tb_)

		$1.set_trace()

		assert True
